<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employees</title>

  <script src="../displayEmployees.js" defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h2>Employee Stats</h2>
      <h4>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
          <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
          <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
        </svg>
        <a href="/view_stats">Back</a>
      </h4>
    </div>
    <div class="container">
      <div class="col col-md-4">
        <label for="tableInput">Search Table</label>
        <input placeholder="Find by Employee Name..." id="tableInput" class="form-control" onkeyup="tableFilter()"/>
        <br />
      </div>
      <table class="table">
        <thead>
        <tr style="cursor: pointer">
          <th onclick="sort(0)">Customer ID
            <img id="u0" src="../icons/caret-up-fill.svg" alt="up" style="display: none" />
            <img id="d0" src="../icons/caret-down-fill.svg" alt="down"/>
          </th>
          <th onclick="sort(1)">SSN/Tax ID
            <img id="u1" src="../icons/caret-up-fill.svg" alt="up" style="display: none"/>
            <img id="d1" src="../icons/caret-down-fill.svg" alt="down" style="display: none"/>
          </th>
          <th onclick="sort(2)">Customer Name
            <img id="u2" src="../icons/caret-up-fill.svg" alt="up" style="display: none"/>
            <img id="d2" src="../icons/caret-down-fill.svg" alt="down" style="display: none"/>
          </th>
          <th onclick="sort(3)">Date of Birth
            <img id="u3" src="../icons/caret-up-fill.svg" alt="up" style="display: none"/>
            <img id="d3" src="../icons/caret-down-fill.svg" alt="down" style="display: none"/>
          </th>
          <th onclick="sort(4)">Joined Date
            <img id="u4" src="../icons/caret-up-fill.svg" alt="up" style="display: none"/>
            <img id="d4" src="../icons/caret-down-fill.svg" alt="down" style="display: none"/>
          </th>
          <th onclick="sort(5)">Street
            <img id="u5" src="../icons/caret-up-fill.svg" alt="up" style="display: none"/>
            <img id="d5" src="../icons/caret-down-fill.svg" alt="down" style="display: none"/>
          </th>
          <th onclick="sort(6)">City
            <img id="u6" src="../icons/caret-up-fill.svg" alt="up" style="display: none"/>
            <img id="d6" src="../icons/caret-down-fill.svg" alt="down" style="display: none"/>
          </th>
          <th onclick="sort(7)">State
            <img id="u7" src="../icons/caret-up-fill.svg" alt="up" style="display: none"/>
            <img id="d7" src="../icons/caret-down-fill.svg" alt="down" style="display: none"/>
          </th>
          <th onclick="sort(8)">Zip
            <img id="u8" src="../icons/caret-up-fill.svg" alt="up" style="display: none"/>
            <img id="d8" src="../icons/caret-down-fill.svg" alt="down" style="display: none"/>
          </th>
          <th onclick="sort(9)">Number of Banks
            <img id="u9" src="../icons/caret-up-fill.svg" alt="up" style="display: none"/>
            <img id="d9" src="../icons/caret-down-fill.svg" alt="down" style="display: none"/>
          </th>
          <th onclick="sort(10)">Bank Assets($)
            <img id="u10" src="../icons/caret-up-fill.svg" alt="up" style="display: none"/>
            <img id="d10" src="../icons/caret-down-fill.svg" alt="down" style="display: none"/>
          </th>
        </tr>
        </thead>
        <tbody id="employeesTable">
          <% for (var i = 0; i < employees.length; i++) { %>
            <tr>
              <td><%= employees[i].person_identification %></td>
              <td><%= employees[i].tax_identification %></td>
              <td><%= employees[i].employee_name %></td>
              <td><%= new Date(employees[i].date_of_birth).toLocaleDateString() %></td>
              <td><%= new Date(employees[i].joined_system).toLocaleDateString() %></td>
              <td><%= employees[i].street %></td>
              <td><%= employees[i].city %></td>
              <td><%= employees[i].state %></td>
              <td><%= employees[i].zip %></td>
              <td><%= employees[i].number_of_banks %></td>
              <td><%= employees[i].bank_assets %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>